[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urlopen = "*"
beautifulsoup4 = "*"
ipdb = "*"
pytz = "*"
botocore = "*"
redis = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
